.swiperImage {
  display: block;
  width: 605px;
  height: 605px;
  object-fit: cover;
}

.thumbImg {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 8px;
}

.mySwiper {
  width: 80%;
  margin: 20px auto;
}

.swiperSlide {
  display: flex ;
  justify-content: center;
}
